body {
  background-color: beige;
}

#main {
  max-width: 1024px;
  margin-top: 20px;
}

.info-box {
  /* style button */
  color: #56a5eb;
  font-size: 1.8rem;
  padding: 1rem 0;
  width: 100%;
  text-align: center;
  border: 0.1rem solid #56a5eb;
  margin-bottom: 1rem;
  text-decoration: none;
  background-color: white;
}

.info-box:hover {
  cursor: pointer;
  /* give box shadow */
  box-shadow: 0 0.5rem 1.5rem 0 rgba(86, 185, 235, 0.5);
  /* When hovering, make box slowly move up location */
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}
